[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 13.0
[submodule "fel_gt"]
	path = fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
	branch = 13.0
[submodule "fel_megaprint"]
	path = fel_megaprint
	url = git@github.com:rocketgithub/fel_megaprint.git
	branch = 13.0
[submodule "hr_expense_invoice"]
	path = hr_expense_invoice
	url = git@github.com:rocketgithub/hr_expense_invoice.git
[submodule "pos_fel"]
	path = pos_fel
	url = git@github.com:rocketgithub/pos_fel.git
	branch = 15.0
[submodule "pos_gt"]
	path = pos_gt
	url = git@github.com:rocketgithub/pos_gt.git
	branch = 15.0
